*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: center;
    gap:300px;
    align-items: center;
    width: 100%;
    height: 96.31px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #FFFFFFF2;
    
}
.logo {
    font-weight: 400;
    font-size: 35.2px;;
    color: #E76F51;

}
.list_link {
    display: flex;
    justify-content: center;
    gap:50px;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 17.6px;
    color: #3C2F2F;

}
.button_first {
    width: 164.5px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    background-color: #E76F51;
    color: #FFFFFF;
    

}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF8F0;

}
.banner {
    width: 100%;
    height: 80vh;
    background-image:  url(./img/background.png);
    background-size:1920px 960px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header_content {
    width: 33%;
    text-align: center;
    color: #ffe4e4;
}
h1{
    font-weight: 700;
    font-size: 64px;
}
h1+p{
    margin: 32.39px 13.13px 28.84px;
    font-weight: 400;
    font-size: 22.4px;


}
.button_second {
    width: 253px;
    height: 63px;
    border-radius: 50px;
    border: 0;
    background-color: #E76F51;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20.8px;

}
.special_food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62.5%;
}
h2{
    font-style: Bold;
    font-size: 48px;
    color: #E76F51;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap:40px;

}
.card {
    margin: 40px;
    background-color: #fff;
    border-radius: 16px;
    width: 270px;
    box-shadow: 0px 10px 30px 0px #0000001A;

}

img {
    border-top-right-radius:16px;
    border-top-left-radius:16px;
    width: 100%;
    height: 50%;
}
.content{
    width: 100%;
    height: 40%;
    padding: 16px;
}
h3{
    font-style: Bold;
    font-size: 25.6px;

}
.special_price {
    font-weight: 600;
    color: #E76F51;

}
.describe {
    font-weight: 400;
    font-size: 16px;
    color: #666666;

}
.food_name {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.food{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 60px 0 100px;
}
.food_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 68px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px #00000014;
}

.name {
    font-weight: 600;
    font-size: 17.6px;
}
.name_price {
    font-weight: 600;
    font-size: 16px;
    color: #E76F51;

}
.footer {
    background-color: #3C2F2F;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_top {
    display: flex;
    gap: 186px;
    margin: 80px 360px 20px;
}
hr{
    border: 1px solid #555;
    width: 1120px;
    height: 54px;
}
.chill h3{
    margin-bottom: 40px;
    color: #E76F51;
    width: 300px;
}
.chill > p{
    color: #EEEEEE;
    font-weight: 400;
    font-size: 16px;

}
.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1120px;
    height: 54px;
    color: #EEEEEE;
    font-weight: 400;
    font-size: 14.4px;
    border-top: 2px solid #555;

}
